services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Repository services
    App\Repository\KilasyRepositoryInterface: '@App\Repository\KilasyRepository'
    App\Repository\RegistreRepositoryInterface: '@App\Repository\RegistreRepository'
    App\Repository\KilasyLasitraRepositoryInterface: '@App\Repository\KilasyLasitraRepository'
